body {
    background:url('image.jpg') no-repeat fixed top;
    background-size: cover;
    font-family: Helvetica;
    color: white; 
}

h1 {
    border: 7px outset white;
    width: 400px;
    color: #0000FF;
    margin-left: auto;
    margin-right: auto;
    
}


form {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}